*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins";
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.nav-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 30%;
  font-size: 20px;
}
.active-item {
color: rgb(241, 72, 0);
font-weight: 900;
}
[alt="actions"] {
  width: 300px;
}

/* Intro section */
.intro-section{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  padding: 20px;
}
/* Left Section */
.left-section h3 {
  font-weight: 400;
  font-size: 2.5em;
}
.left-section h3 img {
  height: 1em;
}
.left-section h1 {
  font-size: 3.5em;
  font-family: "Fredoka One";
}
.sub-headlines {
  font-size: 1.5em;
  width: fit-content;
  padding: 1em;
}
.sub-headlines h5 {
  padding: 0.5em;
}
.sub-headline img {
  background-color: rgb(241, 72, 0);
  border: none;
  height: 0.5em;
  padding: 0.3em;
  border-radius: 10px;
  margin-right: 1em;
}
.text {
  color: #a89e9e;
  width: 90%;
  margin: 0 auto;
}
/* Left Section Buttons */
.action-btns {
  padding: 10px;
}
/* Common for left and right section */
.action-btn {
  background-color: rgb(241, 72, 0);
  width: 160px;
  height: 50px;
  padding: 10px;
  font-size: 17px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  margin: 10px;
}
/* Right Section */
.headphone-div {
  position: relative;
}
img[alt="headphone"] {
  height: 500px;
  display: block;
  margin: 0 auto;
}
/* Discount Sticker */
.headphone-div .discount-content {
  position: absolute;
}
.discount-content {
  color: #ffffff;
  right: 75%;
  top: 75%;
}
.discount-content h1 {
  font-family: "Fredoka One";
  font-size: 3em;
}
img[alt="discount"] {
  position: absolute;
  height: 200px;
  top: 60%;
  right: 65%;

}
/* Dots */
.dots {
  display: flex;
  width: 35%;
  justify-content: space-around;
  margin: 20px auto;
}
.dot {
  width: 22px;
  height: 22px;
  border-radius: 100%;
}
.yellow-dot {
  background-color: yellow;
}
.tomato-dot {
  background-color: tomato;
}
.black-dot {
  background-color: black;
}
/* Right section button */
.right-section .action-btn {
  margin: 0 auto;
  display: block;
}
/* Media Query */
@media screen and (max-width:850px){
  nav{
    justify-content: space-around;
  }
  .nav-items{
    display: none;
  }
  [alt="logo" ]{
    width: 100px;
  }
  .intro-section{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .left-section{
    text-align: center;
  }
  .left-section .sub-headlines{
     margin: 0 auto;
  }
  .action-btns {
    width: fit-content;
    margin: 0 auto;
  }
  img[alt="headphone"] {
  width: 90%;
  height: auto;
}
img[alt="discount"] {
    height: 150px;
    top: 55%;
    right: 65%;
}
.discount-content {
  right: 76%;
  top: 70%;
}
.discount-content h1 {
    font-size: 30px;
}
}